*{box-sizing: border-box;}
.gallery1{
        content: "";
        clear: both;
        display: table;
    margin-left: 20%;
      }
.linea1 {
    float: left;
    width: 32%;
    margin-right: 8px;
    margin-bottom: 10px;
    position: relative;
      }
 @media screen and (max-width: 500px) {
        .column {
          width: 100%;
        }
      }
.sconto-30{
    width: 38px ;
    height: 20px;
    background-color: green ;
    position: absolute;
    top:0;
    right: 0;    
}
.scritta-30{
    position: absolute;
    top:0;
    right: 0;
}
.sconto-5{
    width: 38px ;
    height: 20px;
    background-color:red ;
    position: absolute;
    top: 0;
    right: 0;    
}
.scritta-5{
    position: absolute;
    top:0;
    right: 0;
}